<section class="homeslider fullwidth flexslider" id="home-slider" style="height:500px;">
	<ul class="slides">
		<li class="text-center">
			<a href="#"><img src="~/Theme/img/_slides/kyiv01b.jpg" alt="" /></a>
			<div class="flex-caption transparent light-font center" style="top:17%;">
				<div>
					<h1 class="animated fadeInDown"><span class="uppercase">Need Help building your website?</span></h1>
					<p class="animated fadeInLeftBig">
						Bootstrap users may install and switch between themes.
					</p>
					<p class="animated fadeInRightBig">
						They allow users to change the look of a Bootstrap website.
					</p>
					<br /><a href="#" class="buttonsimple animated fadeInUpBig"><i class="fa fa-download"></i> Purchase Asher</a>
				</div>
			</div>
		</li>
		<li class="text-center">
			<a href="#"><img src="~/Theme/img/_slides/kyiv02b.jpg" alt="" /></a>
			<div class="flex-caption transparent light-font center" style="top:17%;">
				<div>
					<h1 class="animated fadeInDown"><span class="uppercase">Powerful & Beautiful <br /> Bootstrap Theme</span></h1>
					<br /><a href="#" class="buttonsimple animated fadeInLeftBig"><i class="fa fa-download"></i> Download Now</a>
					<a href="#" class="buttonsimple animated fadeInRightBig"><i class="fa fa-link"></i> Start Tour</a>
				</div>
			</div>
		</li>
		<li class="text-center">
			<a href="#"><img src="~/Theme/img/_slides/kyiv03b.jpg" alt="" /></a>
			<div class="flex-caption transparent light-font center" style="top:17%;">
				<div>
					<h1 class="animated fadeInDown"><span class="uppercase">Experience Asher</span></h1>
					<p class="lead ib animated fadeInUp" style="margin-bottom:30px;">
						MultiPurpose Theme with Lots of Options
					</p>
					<p class="animated fadeInLeftBig">
						<i>No advanced knowledge needed!</i>
					</p>
				</div>
			</div>
		</li>
		<li class="text-center">
			<a href="#"><img src="~/Theme/img/_slides/kyiv04b.jpg" alt="" /></a>
			<div class="flex-caption transparent light-font center" style="top:17%;">
				<div>
					<h1 class="animated fadeInDown"><span class="uppercase">Experience Asher</span></h1>
					<p class="lead ib animated fadeInUp" style="margin-bottom:30px;">
						MultiPurpose Theme with Lots of Options
					</p>
					<p class="animated fadeInLeftBig">
						<i>No advanced knowledge needed!</i>
					</p>
				</div>
			</div>
		</li>

	</ul>
</section>
<!-- end homeslider -->
