<div id="modalWait" style="display: none;">
	<h1>Wait...</h1>
</div>

<script>
	var modal = (function() {
		var self = {};

		var holder = $('#modalWait');

		self.showModal = function() {
			holder.dialog({
				dialogClass: 'no-close',
				modal: true,
				resizable: false,
				closeOnEscape: false,
				draggable: false
			});
		}

		self.hideDialog = function() {
			holder.dialog('close');
		}

		return self;
	})();
</script>