<div class="container">
	<div class="row text-center">
		<div class="col-md-12">
			<h1 class="maintitle">Наши партнеры</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-4">
			<!-- begin fancy box -->
			<div class="box1" style="text-align: justify;">
				<div class="striped">
				</div>
				<h6><i class=" fa fa-star "></i> Microsoft Ukraine </h6>
				<div>
					<img src="https://azureua.blob.core.windows.net/logo/2015-03/mslogo.png" alt="" />
				</div>
				<div>
					Заснована в 1975 році корпорація Microsoft є визнаним світовим лідером у галузі розробки програмного забезпечення, а також у наданні послуг та рішень, які допомагають людям та компаніям повністю реалізувати свій потенціал. з 2003 року в Україні працює компанія «Майкрософт Україна», до завдань якої входить розвиток ринку програмного забезпечення, а також впровадження і локалізація новітніх технологій на території України. додаткову інформацію про компанію та продукти Microsoft можна знайти на веб-сайті Microsoft www.microsoft.ua.<span class="boxlink "><a target="_blank" href="http://www.microsoft.ua" class="defaultbutton mainthemebgcolor"><i class="fa fa-link"></i></a></span>
				</div>
			</div>
			<!-- end fancy box -->
		</div>
		@*<div class="col-md-4">
				<!-- begin fancy box -->
				<div class="box1" style="text-align: justify;">
					<div class="striped">
					</div>
					<h6><i class=" fa fa-bullhorn"></i> Компьютерная академия ШАГ </h6>
					<div>
						<img src="https://azureua.blob.core.windows.net/logo/2015-03/ITStep.png" alt="" />
					</div>
					<div>
						Компьютерная Академия ШАГ – крупнейшее международное учебное заведение, специализирующееся на компьютерном образовании. Наши преподаватели – это практикующие специалисты с опытом работы в IT-индустрии. Они учат тому, о чем не пишут в учебниках. Программа обучения соответствует требованиям, которые предъявляются к молодым специалистам при трудоустройстве в IT-компанию. Ничего лишнего. Только то, что пригодится в работе.<span class="boxlink "><a target="_blank" href="http://kiev.itstep.org/" class="defaultbutton mainthemebgcolor"><i class="fa fa-link"></i></a></span>
					</div>
				</div>
				<!-- end fancy box -->
			</div>*@
		<div class="col-md-4">
			<!-- begin fancy box -->
			<div class="box1" style="text-align: justify;">
				<div class="striped">
				</div>
				<h6><i class=" fa fa-bullhorn"></i> IT community </h6>
				<div>
					<img src="https://azureua.blob.core.windows.net/logo/2015-03/it-community.in.ua.png" alt="" />
				</div>
				<div>
					Проект «ИТ сообщество Украины» основан в начале 2014 года c целью создания ресурса, на котором ИТ-специалисты разного уровня смогут получить актуальную информацию о различных продуктах, а также особенностях их конфигурирования. На данный момент сообщество поддерживается усилиями 10-ти авторов, которые представляют различные направления информационных технологий. Это дает возможность проекту охватить много направлений, что в конечном итоге будет более интересно читателю.<span class="boxlink "><a target="_blank" href="https://www.it-community.in.ua/" class="defaultbutton mainthemebgcolor"><i class="fa fa-link"></i></a></span>
				</div>
			</div>
			<!-- end fancy box -->
		</div>
	</div>
</div>
