<div class="boxedcontent">
	@Html.Action("Header", "Layout")

	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="titleborder center">
					<div>
						<h1 class="animated fadeInDownBig">Расписание AZUREDAY</h1>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3 col-sm-3">
				<!-- begin box shadow -->
				<div class="box effect2 myAreaAContainer">
					ПОТОК А
				</div>
				<!-- end box shadow -->
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="box effect2 myAreaBContainer">
					ПОТОК B
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<!-- begin box shadow -->
				<div class="box effect2 myAreaCContainer">
					ПОТОК C
				</div>
				<!-- end box shadow -->
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="box effect2 myAreaDContainer">
					ПОТОК D
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-12">
				<!-- begin box shadow -->
				<div class="box effect6 myAreaABoxBorder">
					<div class="mySlotTime">
						8-00
					</div>
					<div class="mySlotAuthor">
						Регистрация
					</div>
				</div>
				<!-- end box shadow -->
			</div>
		</div>

		<div class="row">
			<div class="col-md-3 col-sm-3">
				<!-- begin box shadow -->
				<div class="box effect2 myAreaABoxBorder">
					<div class="mySlotTime">
						9-00
					</div>
					<div>
						<img class="myAuthorAvatar image-responsive center" src="http://www.wowthemes.net/demo/biscaya/img/demo/test2.gif" alt />
					</div>
					<div class="mySlotAuthor">
						ДОКЛАДЧИК И.О.
					</div>
					<div>
						Название доклада и его краткое описание, что нам стоит дом построить: нарисуем - будем жить.
					</div>
				</div>
				<!-- end box shadow -->
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="box effect2 myAreaBBoxBorder">
					<div class="mySlotTime">
						9-00
					</div>
					<div class="mySlotAuthor">
						ДОКЛАДЧИК И.О.
					</div>
					<div>
						Название доклада и его краткое описание
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<!-- begin box shadow -->
				<div class="box effect2 myAreaCBoxBorder">
					<div class="mySlotTime">
						9-00
					</div>
					<div class="mySlotAuthor">
						ДОКЛАДЧИК И.О.
					</div>
					<div>
						Название доклада и его краткое описание
					</div>
				</div>
				<!-- end box shadow -->
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="box effect2 myAreaDBoxBorder">
					<div class="mySlotTime">
						9-00
					</div>
					<div class="mySlotAuthor">
						ДОКЛАДЧИК И.О.
					</div>
					<div>
						Название доклада и его краткое описание
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="col-md-3 col-sm-3">
				<!-- begin box shadow -->
				<div class="box effect2 myAreaABoxBorder">
					<div class="mySlotTime">
						9-00
					</div>
					<div class="mySlotAuthor">
						ДОКЛАДЧИК И.О.
					</div>
					<div>
						Название доклада и его краткое описание
					</div>
				</div>
				<!-- end box shadow -->
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="box effect2 myAreaBBoxBorder">
					<div class="mySlotTime">
						9-00
					</div>
					<div class="mySlotAuthor">
						ДОКЛАДЧИК И.О.
					</div>
					<div>
						Название доклада и его краткое описание
					</div>
				</div>
			</div>
			<div class="col-md-3 col-sm-3">
				<!-- begin box shadow -->
				<div class="box effect2 myAreaCBoxBorder">
					<div class="mySlotTime">
						9-00
					</div>
					<div class="mySlotAuthor">
						ДОКЛАДЧИК И.О.
					</div>
					<div>
						Название доклада и его краткое описание
					</div>
				</div>
				<!-- end box shadow -->
			</div>
			<div class="col-md-3 col-sm-3">
				<div class="box effect2 myAreaDBoxBorder">
					<div class="mySlotTime">
						9-00
					</div>
					<div class="mySlotAuthor">
						ДОКЛАДЧИК И.О.
					</div>
					<div>
						Название доклада и его краткое описание
					</div>
				</div>
			</div>
		</div>


	</div>







				@Html.Action("Footer", "Layout")

			</div><!-- end boxedcontent -->
